/* Navigation */

header {
    display: flex;
    width: 100%;
    background-color:rgb(31,68,76);
    position: fixed;
    z-index: 1;
}
.container {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
}
.logo-container {
    display: flex;
    gap: 30px;
    align-items: center;
}
#note {
    width: auto;
    height: 50px;
}
#logo {
    height: auto;
    width: 200px;
}
.nav-links {
    display: flex;
    gap: 80px;
    align-items: center;
    padding-right: 30px;
}
.nav-links a {
    color: rgb(182,189,244);
    text-decoration: none;
    font-size: 24px;
}

/* Background*/

body {
    background-image: url(images/ff7remake.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/*  Main  */

#main {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-container {
    display: flex;
    background-color: rgba(31, 68, 76, 0.911);
    gap: 20px;
    width: 70%;
    height: 50%;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    padding: 25px;
}
.text-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
#main-ffxvi{
   width: 50%;
   height: auto;
}
h1,
p,
span {
    text-align: center;
    color: rgb(182,189,244);
}
h1 {
    font-size: 32px;
}
p,
span {
    font-size: 20px;
}

/* Section with cards */

#card-section {
    width: 100%;
    height: 400px;
    background: rgb(28,47,52);
    position: relative;
    top: 1000px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.card-img {
    height: 200px;
    width: auto;
}
.card {
    display: flex;
    flex-direction: column;
}
span {
    padding: 20px
}

/* Quote Section */

#quote {
    position: absolute;
    background-image: url(images/933659.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    top: 1400px;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}
.quote,
.quote-name {
    color: black;
    font-size: 42px;
    font-family: 'Dancing Script', 'cursive';
}

/* Action */

#action {
    width: 100%;
    height: 200px;
    position: absolute;
    background-color: rgb(28,47,52);
    top: 1900px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#action p {
    font-size: 24px;
}

/* Footer */

footer {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 2100px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}