/* Navigation */

header {
    display: flex;
    width: 100vw;
    background-color: rgb(31,68,76);
    position: fixed;
    z-index: 1;
}
.container {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
}
#logo {
    height: 100px;
}
.nav-links {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-right: 20px;
}
.nav-links a {
    color: rgb(182,189,244);
    text-decoration: none;
}

/* Background*/

body {
    background-image: url(/images/final-fantasy-vii-remake-4k-ultra-hd-wallpaper-background-m5u06ivctihnxdj6\ \(1\).jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/*  Main  */

#main {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 40%;
    background-color: rgba(31, 68, 76, 0.911);
    display: flex;
    gap:16px;
    padding: 25px;
    align-items: center;
    border-radius: 25px;
}
.main-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
#main-ffxvi{
   width: auto;
   height: 300px;
}
h1,
p,
span {
    text-align: center;
    color: rgb(182,189,244);
}
h1 {
    font-size: 32px;
}
p,
span {
    font-size: 20px;
}

/* Section with cards */

#card-section {
    width: 100%;
    height: 400px;
    background: rgb(28,47,52);
    position: relative;
    top: 1000px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
}
.card-img {
    height: 200px;
    width: auto;
}
.card {
    display: flex;
    flex-direction: column;
}
span {
    padding: 20px
}

/* Quote Section */

#quote {
    position: absolute;
    background-image: url(/images/933659.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    top: 1400px;
    width: 100%;
    height: 500px;
}